services:
  # Flask application service
  flask-api:
    build: .
    environment:
      - FLASK_ENV=production
    labels:
      - traefik.enable=true
      - traefik.http.routers.flask-api.rule=Host(`${DOMAIN?Variable not set}`)  # Use environment variable for domain
      - traefik.http.routers.flask-api.entrypoints=http,https
      - traefik.http.routers.flask-api.tls=true  # Enable TLS (HTTPS)
      - traefik.http.routers.flask-api.tls.certresolver=le  # Use the default ACME resolver (Let's Encrypt)
    networks:
      - web 

  # Traefik service for reverse proxy and SSL management
  traefik:
    image: traefik:latest
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --api.dashboard=true
      - --api.insecure=true      # dev only (remove in prod)
      - --accesslog=true
      - --certificatesresolvers.le.acme.tlschallenge=true # Use default "le" resolver for Let's Encrypt
      - --certificatesresolvers.le.acme.email=${LETSENCRYPT_EMAIL}  # Email for Let's Encrypt
      - --certificatesresolvers.le.acme.storage=/acme.json  # Store certificates in acme.json
      - --log.level=DEBUG  # Enable DEBUG level logs
    ports:
      - "80:80"  # HTTP
      - "443:443"  # HTTPS
    volumes:
      - "./acme.json:/acme.json"  # Persist certificates
      - "/var/run/docker.sock:/var/run/docker.sock"  # Access Docker socket for service discovery
    networks:
      - web 
    restart: always

networks:
  web:
    driver: bridge
  internal:
    driver: bridge