services:
  # Flask application service
  app:
    build: .
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.flask-api-http.rule=Host('proxy.saydao.org')"
      - "traefik.http.routers.flask-api-http.entrypoints=web"
      - "traefik.http.routers.flask-api-http.middlewares=redirect-to-https"
      - "traefik.http.routers.flask-api-svc.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.flask-api-svc.entrypoints=websecure"
      - "traefik.http.routers.flask-api-svc.tls=true"
      - "traefik.http.routers.flask-api-svc.tls.certresolver=le"
      - "traefik.http.services.flask-api-svc.loadbalancer.server.port=5000"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

    networks:
      - web 

  # Traefik service for reverse proxy and SSL management
  traefik:
    image: traefik:v3.1
    restart: unless-stopped
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --api.dashboard=true
      - --api.insecure=true      # dev only (remove in prod)
      - --accesslog=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.le.acme.email=${LETSENCRYPT_EMAIL}  # Email for Let's Encrypt
      - --certificatesresolvers.le.acme.storage=/acme.json  # Store certificates in acme.json
      - --log.level=DEBUG  # Enable DEBUG level logs
    ports:
      - "80:80"  # HTTP
      - "443:443"  # HTTPS
    volumes:
      - "./acme.json:/acme.json"  # Persist certificates
      - "/var/run/docker.sock:/var/run/docker.sock"  # Access Docker socket for service discovery
    networks:
      - web 

networks:
  web:
    driver: bridge
  internal:
    driver: bridge