# Traefik static configuration
api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

certificatesResolvers:
  myresolver:
    acme:
      email: you@saydao.org
      storage: /letsencrypt/acme.json
      # Use httpChallenge (port 80 must be reachable by Let's Encrypt)
      httpChallenge:
        entryPoint: web
log:
  level: INFO
